:root {
    --text-color: #3d3d41;
    --first-color: #fff;
    --black-color: #32323d;
    --green-color: #25A56A;
    --sidebar-color: #eaeaf0;
    --container-color: #fefefe;
    --player-color: #120c1c;
    --icon-color: #acb4c0;
    /* --primary-color: #fd2d55; */
    --primary-color: hsl(348, 98%, 58%);
    --title-color: #3a3a3e;
    --hue-color: 348;

    --container__header: 60px;
    --header-height: 70px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: subpixel-antialiased;
}

a {
    text-decoration: none;
    color:var(--text-color);
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.mt-36 {
    margin-top: 36px;
}

.mbt-36 {
    margin-bottom: 36px;
}

.pdt-30 {
    padding-top: 30px;
}

.pd-20 {
    padding: 20px 0;
}

.btn {
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid transparent;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 0px 20px 0px #eb4972;
}


/* Change theme */

body.dark-theme {
    --text-color: #fff;
    --first-color:hsl(348, 28%, 12%);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Scrollbar */
.scrollbar {
    float: left;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 300px;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--sidebar-color);
}

/* Swiper Slide */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: transparent;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.swiper-pagination {
    display: block;
}

.swiper-button-next, .swiper-button-prev {
    display: none;
}